<h1>Greetings!</h1>
<p>
  Just wanted to share this cool post with you.
</p>


<p>Title:<%= @post.title %></p>
<p><%= @post.body %></p>
<%= image_tag @post.photo unless @post.photo.blank? %>


<p>This was written by <%= @post.user.name %></p>

<%= link_to "See the full post", post_url(@post) %>
