<% if @user.errors.any? %>
  <div class="bg-danger col-xs-12">
    <ul class="list-unstyled">
      <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :picture %>
    <%= f.text_field :picture %>
  </div>
  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :password %>
  <%= f.input :picture %>
  <%= f.button :submit %>
<% end %>
