<div id="content" class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-uppercase">
      <%= @post.title %>
      </h2>
      <div>
      <%= image_tag @post.user.picture, class: "img-circle", id: "small" %>
      <a><%= @post.user.name %></a><span></span> on <%= @post.created_at.strftime("%A %b. %e %Y %I:%M %p") %></span>
      </div>
      <br>
      <article>
        <%= simple_format @post.body %>
      </article>
      <h1 id="woah"> Woah, hello there Corgeous!</h1>
      <div class="postButtons">
        <% if @post.is_owner? current_user %>
          <%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-primary" %>
          <%= link_to "Delete Post", @post, method: :delete, class: "btn btn-danger" %>
          <button class="btn comments" type="submit">Read Comments</button>
          <button class="btn read" type="submit">Read Later</button>
          <button class="btn share" type="submit">Share This Post</button>
        <% else %>
          <button class="btn comments" type="submit">Read Comments</button>
          <button class="btn read" type="submit">Read Later</button>
          <button class="btn share" type="submit">Share This Post</button>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 sidebar">
      <div class="text-center">
        <%= link_to @user, class: "btn" do %>
          <%= image_tag @post.user.picture, class: "img-circle" %>
          <% end %>
        <h4 class="text-uppercase"><%= @post.user.name %></h4>
        <div id="socialLinks" class="text-center">
        <a>Twitter</a>
        <a>Facebook</a>
        <a>Instagram</a>
        </div>
      </div>
      <img id="corgi" src="https://s-media-cache-ak0.pinimg.com/originals/41/60/29/4160295f66f9fd38fa7cf02de08a2673.jpg">
      <div>
        <h4 class="text-uppercase">sidebar section heading</h4>
      </div>
      <p>
        Coral hogfish snake eel goatfish and Black clown goby fanatic jumping at a nurse shark. Coral hogfish at Bursa trigger spot hogfish bite yellow pseudochromis weasel shark seabass in angelfish. Frogfish spot hogfish rabbitfish spotted sweetlips swim, peppered moray creature jumped. Zebra moray at banded sole bannerfish. Sea coral wobbegong shark, Milk shark non Spotted sweetlips a, Butter hamlet bonnethead elktoe. Sea coral wobbegong shark, Milk shark no.
      </p>
    </div>
  </div>
</div>
<hr>

<div id="pop" class="container-fluid">
  <div>
    <h2 id="popularTitle" class="text-uppercase text-center">
    Most Recent Posts
    </h2>
  </div>
    <div id="popularPosts" class="row">
      <% @popular_posts.each do |post| %>
        <div class="col-md-3 popular">
          <%= link_to post, class: "btn btn-block" do %>
            <%= image_tag post.user.picture, class: "img-responsive center-block" %>
          <% end %>
          <span class="bottomTitles"><%= post.title %></span>
        </div>
      <% end %>
    </div>
</div>
