<!DOCTYPE html>
<html>
  <head>
    <title>Shorgi's</title>
    <link rel="icon" href="https://images.indiegogo.com/file_attachments/1202830/files/20150207003244-my-edit2.jpg?1423297964" type="image/ico" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <body>
        <div class="jumbotron">
          <nav class="navbar">
            <div class="container">
          <!-- Start of my header -->
              <div class="navbar-header">
                <%= link_to root_path, class: "navbar-brand" do %>
                  <%= image_tag "shark.svg", class: "img-responsive" %>
                <% end %>
                <p class="nav-title">
                  A Shorgi Blog
                </p>
              </div>

          <!-- Navbar -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
              <li><%= link_to "Profile", current_user, class: "btn" %></li>
              <li><%= link_to "New Post", new_post_path, id: "postBtn", class: "btn" %></li>
              <li><%= link_to "Users", users_path, class:"btn" %></li>
              <li><%= link_to "All Posts", posts_path, id: "indexBtn", class: "btn" %></li>
              <li><%= link_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>  </li>
              <% else %>
              <li><%= link_to "About", root_path, class:"btn" %></li>
              <li><%= link_to "User List", users_path, class:"btn" %></li>
              <li><%= link_to "All Posts", posts_path, id: "indexBtn", class: "btn" %></li>
              <li><%= link_to "Login", login_path, class: "btn" %></li>
              <li><%= link_to "Sign up!", new_user_path, class: "btn" %></li>
              <% end %>


            </ul>
            <form class="navbar-form navbar-right">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Search">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>

              </div>
            </form>
          </div>
        </div>
      </nav>

      <div id="header" class="row text-center">
            <h1>
            Corgi Shark
            </h1>
            An Ironyard Academy Project Est Fall 2013
          </div>
      </div>

<div class-"container">
  <% if flash.any? %>
    <% flash.each do |klass, message| %>
    <div class="alert alert-<%= klass %>" role="alert">
      <p>
        <%= message %>
      </p>
      <% end %>
    </div>
  <% end %>
</div>

      <%= yield %>

    <footer>
    <div class="container-fluid">
        <div class="row vcenter">
          <div class="col-md-6">
          <img src="http://static.tumblr.com/37ca133c1a84d5b7856c51a7682df3e9/w5gxxfv/EbDnb1fmq/tumblr_static_3utdt60mrekgs4oosockk4oks.png">The Ironyard Copyright 2013, All Rights Reserved
          </div>
          <div id="footerLinks" class="col-md-6 vcenter">
            <a>Nav Item 1</a>
            <a>Nav Item 2</a>
            <a>Nav Item 3</a>
            <a>Nav Item 4</a>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
